@use '../../mixin/mixin'as *;
@use '../../setting/setting'as *;

.home {
  .mv-block {
    background-color: $primaryYellow02;
    color: #fff;

    .inner-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 88px;
      padding-bottom: 88px;
      gap: 38px;

      @include sp {
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }

    .ttl {
      font-size: 66px;
      font-weight: 600;
      letter-spacing: 0.01em;
      line-height: 1.2;

      @include sp {
        font-size: 34px;
      }
    }

    .detail {
      font-size: 29px;
      letter-spacing: 0.01em;
      line-height: 1.2;
      margin-top: 30px;

      @include sp {
        font-size: 20px;
        margin-top: 15px;
      }
    }

    .btn-items {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 35px;
      margin-top: 40px;

      @include sp {
        gap: 15px;
        margin-top: 30px;
      }
    }

    .img {
      width: 36%;
      flex-shrink: 0;
    }
  }

  .about-block {
    .inner-block {
      padding-top: 140px;
      padding-bottom: 140px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include sp {
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }

    .ttl {
      font-size: 50px;
      font-weight: 600;
      line-height: 1.2;

      @include sp {
        font-size: 28px;
      }
    }

    .detail {
      font-size: 29px;
      letter-spacing: 0.01em;
      line-height: 1.2;
      margin-top: 35px;

      @include sp {
        font-size: 20px;
        margin-top: 15px;
      }
    }

    .c-btn {
      margin-top: 40px;

      @include sp {
        margin-top: 30px;
      }
    }

    .c-video {
      @include sp {
        margin-top: 30px;
      }
    }

    &.reverse {
      @include pc {
        text-align: right;
      }

      .inner-block {
        flex-direction: row-reverse;

        @include sp {
          flex-direction: column;
        }
      }

      .c-btn {
        margin-left: auto;
      }
    }
  }

  .care-block {
    background-color: $primaryYellow02;
    color: #fff;

    .inner-block {
      padding-top: 100px;
      padding-bottom: 100px;

      @include sp {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
  }

  .team-block {
    .inner-block {
      padding-top: 140px;
      padding-bottom: 140px;

      @include sp {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
  }

  .data-block {
    background: url(../img/bg-data-block.jpg) no-repeat center / cover;
    color: #fff;
    text-align: center;

    .inner-block {
      padding-top: 165px;
      padding-bottom: 165px;

      @include sp {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }

    .data-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;

      @include sp {
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 30px 10px;
      }

      >li {
        @include sp {
          width: calc(50% - 10px);
          display: flex;
          flex-direction: column;
        }
      }
    }

    .icon {
      height: 90px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include sp {
        height: 60px;
      }

      img {
        height: 100%;
        object-fit: contain;
      }
    }

    .number {
      font-size: 41px;
      font-weight: 500;
      line-height: 1;
      margin-top: 58px;

      @include sp {
        font-size: 24px;
        margin-top: 30px;
      }
    }

    .data-name {
      font-size: 37px;
      font-weight: bold;
      line-height: 1;
      margin-top: 20px;

      @include sp {
        font-size: 18px;
        margin-top: 15px;
        line-height: 1.2;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .post-block {
    .inner-block {
      padding-top: 140px;
      padding-bottom: 140px;

      @include sp {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
  }
}