@use '../mixin/mixin'as *;
@use '../setting/setting'as *;

.c-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 66px;
  text-align: center;
  margin-top: 90px;

  @include sp {
    grid-gap: 30px;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .img {
    background-color: #fff;
    padding: 6px;
    max-width: 342px;
    margin: 0 auto;
  }

  .list-ttl {
    font-size: 37px;
    font-weight: 600;
    line-height: 1;
    margin-top: 50px;

    @include sp {
      font-size: 22px;
      margin-top: 20px;
    }
  }

  .list-detail {
    font-size: 25px;
    line-height: 1.2;
    margin-top: 20px;

    @include sp {
      font-size: 18px;
      margin-top: 15px;
    }
  }

  .price {
    font-size: 41px;
    font-weight: 600;
    text-align: center;
    margin-top: 35px;
    padding-right: 24px;
    line-height: 1;

    @include sp {
      font-size: 24px;
      margin-top: 20px;
      padding-right: 0;
    }

    .correction {
      position: relative;
      padding: 0 14px;
      margin-right: 24px;

      @include sp {
        padding: 0 8px;
        margin-right: 16px;
      }

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        background-color: #fff;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;

        @include sp {
          height: 3px;
        }
      }
    }
  }

  .c-btn {
    margin: 28px auto 0;
  }

  .name {
    font-size: 29px;
    font-weight: bold;
    line-height: 1;
    margin-top: 40px;

    @include sp {
      font-size: 20px;
      margin-top: 20px;
    }
  }

  .job {
    font-size: 25px;
    line-height: 1;
    margin-top: 13px;

    @include sp {
      font-size: 18px;
      margin-top: 10px;
    }
  }

  .post-ttl {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;

    @include sp {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  .post-date {
    color: $primaryGreen01;
    text-transform: uppercase;
    margin-top: 5px;
  }

  .post-detail {
    line-height: 1.2;
    margin-top: 22px;

    @include sp {
      margin-top: 15px;
    }
  }

  .readmore {
    font-size: 20px;
    font-weight: 500;
    color: $primaryGreen01;
    line-height: 1;
    margin-top: 28px;

    @include sp {
      font-size: 16px;
      margin-top: 20px;
    }
  }

  .c-sns-list {
    margin-top: 30px;

    @include sp {
      margin-top: 15px;
    }
  }

  &--secondary {
    gap: 38px;

    @include sp {
      gap: 30px;
    }

    .img {
      background: none;
      padding: 0;
      max-width: 361px;
    }
  }

  &--post {
    text-align: left;
    gap: 38px;

    @include sp {
      gap: 30px;
    }

    >li {
      >a {
        display: block;

        @include pc {
          &:hover {
            @include boxShadow(0, 10px, 51px, 17px);

            .txt-items {
              border-color: transparent;
            }
          }
        }
      }
    }

    .img {
      background: none;
      padding: 0;
      height: 0;
      padding-top: 97%;
      position: relative;
      overflow: hidden;
      max-width: none;

      @include sp {
      }

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .txt-items {
      padding: 30px;
      border: 2px solid #d6d6d6;
      border-top: none;
      transition: border-color $transition01;

      @include sp {
        padding: 20px;
      }
    }
  }
}