@use '../mixin/mixin'as *;
@use '../setting/setting'as *;

/* --------------------------------
c-header
----------------------------------- */

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.c-header {
  background-color: $primaryYellow01;
  color: #fff;
  height: 120px;

  @include sp {
    height: 50px;
    position: relative;
  }

  .inner-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .logo {
    display: inline-block;
    flex-shrink: 0;

    @include pc {
      width: clamp(150px, #{(vw(212, 1220))}, 212px);
    }

    @include sp {
      width: 140px;
      padding: 10px 20px;
      margin-left: -20px;
    }
  }

  .link-items {
    display: flex;
    align-items: center;
    width: 100%;
    transition: opacity $transition01;

    @include pc {
      justify-content: space-between;
      margin-left: 56px;
    }

    @include sp {
      position: absolute;
      flex-direction: column;
      top: 50px;
      left: 0;
      background-color: $primaryYellow01;
      height: calc(100svh - 50px);
      opacity: 0;
      pointer-events: none;
      z-index: 10;
    }
  }

  .link-list {
    display: flex;
    align-items: center;
    font-size: clamp(16px, #{vw(29, 1220)}, 29px);
    font-weight: 500;

    @include sp {
      flex-direction: column;
      font-size: 20px;
      width: 100%;
    }

    li {
      @include sp {
        width: 100%;
        border-top: 1px solid #fff;

      }

      &:last-of-type {
        @include sp {
          border-bottom: 1px solid #fff;
        }
      }
    }

    a {
      padding: 0 clamp(10px, #{vw(20, 1220)}, 21px);

      @include sp {
        display: block;
        padding: 5px 20px;
      }

      @include pc {
        &:hover {
          color: $primaryGreen01;
        }
      }
    }
  }

  .c-form {
    @include pc {
      @include max(900) {
        display: none;
      }
    }

    @include sp {
      margin-top: 50px;
    }

    .input-text {
      @include pc {
        max-width: clamp(150px, #{(vw(200, 1220))}, 200px);
      }
    }

    .send-btn {
      @include pc {
        @include max(1220) {
          padding: 5px 15px;
        }
      }
    }
  }

  .menu-btn {
    width: 70px;
    height: 50px;
    position: relative;
    margin-right: -20px;

    .line {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #fff;
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      transition: $transition01;

      &:first-of-type {
        top: 15px;
      }

      &:nth-of-type(2) {
        top: 0;
        bottom: 0;
      }

      &:last-of-type {
        bottom: 15px;
      }
    }

    &.is_active {
      .line {

        &:first-of-type {
          transform: translateY(24px) rotate(45deg);
          top: 0;
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:last-of-type {
          transform: translateY(-24px) rotate(-45deg);
          bottom: 0;
        }
      }

      &+.link-items {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}